<section id="contact" class="container-fluid pt-4">
    <h3 class="text-center">{{ i18n "contact" . }}</h3>
    <div class="row justify-content-center">
        <div class="col-md-5">
            <p><strong>{{ i18n "address" . }}</strong><br>{{ i18n "address-content1" . }}<br>{{ i18n "address-content2" . }}<br>Estelí, Nicaragua</p>
        </div>
        <div class="col-md-3">
            <p><strong>{{ i18n "email" . }}</strong><br><a href="mailto:susynemesis@gmail.com">susynemesis@gmail.com</a><br><a href="mailto:Xilonem@turbonett.com.ni">Xilonem@turbonett.com.ni</a></p>
            <p><strong>{{ i18n "phone" . }}</strong><br>+(505) 27 13 36 53</p>
        </div>
    </div>
</section>