<footer id="footer" class="pt-3 pb-3">
    <a href="#home" id="toTop" class="row ml-2 justify-content-start align-items-center">
            <img src="{{ .Site.BaseURL }}/images/donut.svg" height=50 class="mr-3">{{ i18n "to-top" . }}
    </a>
    <!-- License info -->
    <!-- https://creativecommons.org/licenses/by-sa/3.0/ -->
    <div class="row justify-content-center mb-1">
        <a target="_blank" href="https://www.facebook.com/Asociacion-Xilonem-Esteli-Xilonem-492470051094652/" class="mr-4 ml-4">
            <img height=50 src="{{ .Site.BaseURL }}/images/facebook.svg" class="hvr-bob" alt="Facebook">
        </a>
    </div>
    <!--<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> and <a-->
    <!--href="https://www.flaticon.com/authors/dave-gandy" title="Dave Gandy">Dave Gandy</a> from <a-->
    <!--href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a-->
    <!--href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0-->
    <!--BY</a></div>-->
    <div class="row justify-content-center">{{ i18n "website-by" . }}</div>
    <div class="row justify-content-center"><a id="elena" target="_blank" href="https://www.linkedin.com/in/elena-fuentes-bongenaar-92073663/">Elena Fuentes Bongenaar</a></div>
</footer>